@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0057FF;
}

body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}